<div class="page-header">
  <%= link_to transactions_path, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Add History</h1>
</div>

<%= render "form" %>